<div class = "center jumbotron">
  <h1>Alpha Blog</h1>
  <p>This is my first Ruby on Rails project.<br>Turning out pretty neat so far.</p>

<%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge" %>
</div>